<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid;
    }
    *{
        font-family: 'Poppins',sans-serif;
    }
</style>
<body>
<table>
    <tr>
        <th>#</th>
        <th>name</th>
        <th>picture</th>
        <th>price</th>
        <th>transport</th>
        <th>transportPrice</th>
        <th>benefits</th>
        <th>atc</th>
    </tr>
    <tr th:object="${tourDetail}">
        <td th:text="${tourDetail.id}"></td>
        <td th:text="${tourDetail.name}"></td>
        <td th:text="${tourDetail.picture}"></td>
        <td th:text="${tourDetail.price}"></td>
        <td th:text="${tourDetail.transport}"></td>
        <td th:text="${tourDetail.transportPrice}"></td>
        <td th:text="${tourDetail.benefits}"></td>
        <td><a th:href="@{/bookingF}">book tour</a></td>
    </tr>
</table>
<a th:href="@{/travel}">back to list</a>
</body>
</html>