<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel</title>
</head>
<style>
    *{
        font-family: 'Poppins',sans-serif;
    }
    table, th, td {
        border: 1px solid;
    }

    .div {
        display: flex;
        margin-bottom: 10px;
    }

    .row {
        margin-left: 23px;
    }
</style>
<body>
<div>
    <div style="float: right">
        <a id="login" th:href="@{/log}">Login</a>
        <a id="register" th:href="@{/signup}">Register</a>
    </div>
    <div class="div">
        <div>
            <a th:href="@{/getUser}">getUser</a>
            <a th:href="@{/findTourBooked}">tour booked</a>
        </div>
        <div class="row">
            <form th:action="@{/search}" method="get">
                <input type="text" placeholder="search..." name="keyword" style="width: 126px">
                <input type="submit" value="search">
            </form>
        </div>
    </div>
    <div>
        <a th:href="@{/travel}">travel</a>
    </div>
    <table>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>picture</th>
            <th>price</th>
        </tr>
        <tr th:each=" row : ${listTour}">
            <td th:text="${row.id}"></td>
            <td><a th:href="@{/{id}/tourDetail(id=${row.getId()})}" th:text="${row.name}"></a></td>
            <td th:text="${row.picture}"></td>
            <td th:text="${row.price}"></td>
        </tr>
        </tr>
    </table>
    <a href="" th:if="${listTour.hasPrevious()}" th:href="@{'travel'(page=${listTour.number - 1})}"
       style="cursor: pointer">previous</a>
    <span th:text="${listTour.number + 1}"></span>/<span th:text="${listTour.totalPages}"></span>
    <a href="" th:if="${listTour.hasNext()}" th:href="@{'travel'(page=${listTour.number + 1})}" style="cursor: pointer">next</a>
</div>
</body>
</html>