<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    *{
        font-family: 'Poppins',sans-serif;
    }
</style>
<body>
<table>
    <tr>
        <h1 th:text="${user.name}"></h1>
    </tr>
    <tr>
        <td><spam th:text="${user.address}"></spam></td>
    </tr>
    <tr>
        <td><span th:text="${user.email}"></span></td>
    </tr>
    <tr>
        <td>
            <span th:text="${user.phoneNumber}"></span>
        </td>
    </tr>
</table>
</body>
</html>